*{
    box-sizing: border-box;
    font-family: "helvetica", sans-serif;
}

body{
    background: url(/pexels-stephen-niemeier-65717.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    
}

.keys{
    display: flex;
    transition: all 0.07s;
}

div{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 120px;
    text-align: center;
    border: solid 1px black;
    align-items: center;
    justify-content: center;
    background-color: rgba(29, 29, 29, 0.9);
    color: white;
    margin: 0 10px;
    border-radius: 4px;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

span{
    display: flex;
    margin-top: 20px;
    font-style: italic;
    color:burlywood;
}